{
    test: /\.css$/,
    loader: combineLoaders([
      {
        loader: 'style-loader',
      },
      {
        loader: 'css-loader',
        query: {
          modules: true,
          localIdentName: '[name]__[local]___[hash:base64:5]',
        },
      },
    ]),
    include: __dirname,
}
